* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 @font-face {
    font-family: "lato";
    src: url(/first-semester/homework/assets/fonts/lato-regular.woff2),
       url(/first-semester/homework/assets/fonts/lato-regular.woff);
 }
 
 body {
    color: #1D2C3C;
    background-color: #F5F8FA;
    font-family: lato, sans-serif;
 }
 
 header {
    height: 73px;
    margin: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E0E6EA;
 
    & .logo img {
       width: 200px;
       height: 39px;
    }
 
    ul {
       display: flex;
       gap: 45px;
 
       & li {
          list-style-type: none;
          padding: 12px 18px;
          letter-spacing: -0.01px;
          line-height: 16.8px;
 
          & a {
             text-decoration: none;
             font-size: 14px;
             font-weight: 700;
             color: #1D2C3C;
          }
 
          &:last-child {
             border: 2px solid #646E7A;
             border-radius: 6px;
          }
       }
    }
 }
 
 main {
    display: flex;
    justify-content: center;
 
    & .container {
       width: 892px;
       height: 845px;
       display: flex;
       box-shadow: 0 0 20px #f1e9e9;
    }
 
    & .left {
       width: 580px;
       background-color: #FFFFFF;
 
       & h2 {
          font-size: 30px;
          line-height: 36px;
          font-weight: 400;
          border-bottom: 1px solid #E0E6EA;
          text-shadow: 0px 3.5px 4px #646E7A;
          padding: 35px 0 50px 35px;
       }
 
       & fieldset {
          padding: 0 35px;
          border: none;
          border-bottom: 1px solid #E0E6EA;
          padding-bottom: 40px;
          margin-top: 40px;
 
          & legend {
             font-size: 18px;
             line-height: 21.6px;
             font-weight: 700;
             letter-spacing: -0.16px;
             display: flex;
             align-items: center;
             gap: 10px;
             margin-bottom: 20px;
          }
 
          & label {
             font-size: 14px;
             line-height: 16.8px;
             font-weight: 400;
          }
 
          & > div {
             display: flex;
             justify-content: space-between;
             margin-bottom: 15px;
 
             & input {
                width: 227px;
             }
          }
 
          & input {
             padding: 12px;
             display: block;
             background-color: #EDEFF2;
             border: none;
             border-radius: 4px;
             width: 370px;
             margin-top: 8px;
          }
 
          & img {
             transform: scale(1.5);
          }
 
          & label[for="credit-card"] input {
             width: 100%;
          }
 
          & + input {
             width: 510px;
             display: block;
             margin-top: 45px;
             margin-bottom: 35px;
             margin-left: 35px;
             padding: 15px;
             border: none;
             background-color: #038E7D;
             border-radius: 5px;
             color: #FFFFFF;
             line-height: 21.6px;
             letter-spacing: -0.4px;
             font-weight: 700;
             font-size: 18px;
             cursor: pointer;
          }
       }
 
       & .support {
          font-weight: 700;
          font-size: 14px;
          line-height: 16.8px;
          text-align: center;
 
          & span {
             font-weight: 400;
             font-size: 14px;
             letter-spacing: -0.01px;
          }
 
          & img {
             transform: scale(1.35);
             margin-right: 8px;
          }
 
          & + p {
             text-align: center;
             margin-top: 40px;
          }
       }
    }
 
    & .right {
       width: 312px;
       background-color: #1179BF;
       padding: 45px;
       color: #fff;
       border-radius: 0 6px 6px 0;
 
       & div:first-child {
          margin-bottom: 40px;
 
          & h2 {
             font-size: 20px;
             font-weight: 700;
             margin-bottom: 15px;
          }
 
          & p.price {
             line-height: 72px;
             font-weight: 300;
             font-size: 60px;
             letter-spacing: -0.01px;
             margin-bottom: 8px;
             
             & sup {
                font-weight: 700;
                font-size: 24px;
                line-height: 28.8px;
                letter-spacing: -0.01px;
             }
 
             & sub {
                font-weight: 700;
                font-size: 18px;
                line-height: 21.6px;
                letter-spacing: -0.01px;
             }
 
             & + p {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.01px;
             }
          }
       }
 
       & div:nth-child(2) {
          padding-bottom: 45px;
          border-bottom: 2px solid #ffffff33;
 
          & p {
             margin-bottom: 12px;
             font-weight: 400;
             line-height: 24px;
             letter-spacing: -0.01px;
 
             & + div {
                margin-top: 40px;
 
                & a {
                   color: #fff;
                   text-decoration-thickness: 3px;
                   text-decoration-color: #b9f5ff81;
                   text-underline-offset: 2px;
                   font-weight: 700;
                   font-size: 16px;
                   line-height: 19.2px;
                   letter-spacing: -0.01px;
                }
             }
 
             & img {
                margin-right: 10px;
                transform: scale(1.1);
             }
          }
       }
 
       & .bold {
          font-weight: 700;
       }
 
       & div:last-child {
          margin-top: 45px;
          border-bottom: unset;
 
          & > p {
             font-weight: 400;
             font-size: 17.5px;
             line-height: 24px;
             letter-spacing: -0.01px;
          }
 
          & div {
             display: flex;
             align-items: center;
             margin-top: 10px;
 
             & img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
             }
          }
       }
    }
 }
 
 footer {
    display: flex;
    font-weight: 400;
    line-height: 16.8px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    color: #636B6F;
    gap: 20px;
 
    & a {
       text-decoration: none;
       color: #038E7D;
       position: relative;
 
       &::before {
          content: ".";
          font-size: 20px;
          font-weight: 900;
          color: #3f3c3c;
          position: absolute;
          left: -12px;
          top: -5px;
       }
    }
 
 }